################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TestMagneticBand/.vs/TestMagneticBand/v15/Server/sqlite3
